/*
1. pocicionamiento
2. modelo de caja
3.tipografia
4.visuales
5.misalaneos o otros.
*/

:root {
    /* Colores base */
    --Very_dark_blue_main_background: hsl(233, 47%, 7%);
    --Dark_desaturated_blue_card_background: hsl(244, 38%, 16%);
    --Soft_violet_accent: hsl(277, 64%, 61%);
    /*colores_neutrox*/
    --White_main_heading_stats: hsl(0, 0%, 100%);
    --Slightly_transparent_white_main_paragraph: hsla(0, 0%, 100%, 0.75);
    --Slightly_transparent_white_stat_headings: hsla(0, 0%, 100%, 0.6);
    --fuente_titulos: 'Inter', sans-serif;
    --fuente_parrafos: 'Lexend Deca', sans-serif;
}

body {
    /*ajuste para uso del rem 1 rem = 10px para tamaño de fuente*/
    box-sizing: border-box;
    font-size: 62.5%;
    padding: 0;
    margin: 0;
}