.container {
    width: 253px;
    height: 597px;
    border-radius: 10px;
    background-color: var(--Dark_desaturated_blue_card_background);
    display: flex;
    flex-direction: column;
}


/*modificar archivos trabajar vista mobil luego a escritorio no al reves*/