@charset "UTF-8";
/*
1. pocicionamiento
2. modelo de caja
3.tipografia
4.visuales
5.misalaneos o otros.
*/
:root {
  /* Colores base */
  --Very_dark_blue_main_background: hsl(233, 47%, 7%);
  --Dark_desaturated_blue_card_background: hsl(244, 38%, 16%);
  --Soft_violet_accent: hsl(277, 64%, 61%);
  /*colores_neutrox*/
  --White_main_heading_stats: hsl(0, 0%, 100%);
  --Slightly_transparent_white_main_paragraph: hsla(0, 0%, 100%, 0.75);
  --Slightly_transparent_white_stat_headings: hsla(0, 0%, 100%, 0.6);
}

html {
  /*ajuste para uso del rem 1 rem = 16px para tamaño de fuente y fuente */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
  /*font-family: 'Lexend Deca', sans-serif;*/
}

body {
  /*tamaño y color de fondo y pocicionamiento de caja*/
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  background-color: var(--Very_dark_blue_main_background);
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.container {
  /*tamaño de caja y color*/
  width: 900px;
  height: 500px;
  background-color: var(--Dark_desaturated_blue_card_background);
  border-radius: 12px;
}