@charset "UTF-8";
/*
1. pocicionamiento
2. modelo de caja
3.tipografia
4.visuales
5.misalaneos o otros.
*/
:root {
  /* Colores base */
  --Very_dark_blue_main_background: hsl(233, 47%, 7%);
  --Dark_desaturated_blue_card_background: hsl(244, 38%, 16%);
  --Soft_violet_accent: hsl(277, 64%, 61%);
  /*colores_neutrox*/
  --White_main_heading_stats: hsl(0, 0%, 100%);
  --Slightly_transparent_white_main_paragraph: hsla(0, 0%, 100%, 0.75);
  --Slightly_transparent_white_stat_headings: hsla(0, 0%, 100%, 0.6);
  --fuente_titulos: "Inter", sans-serif;
  --fuente_parrafos: "Lexend Deca", sans-serif;
}

body {
  /*ajuste para uso del rem 1 rem = 10px para tamaño de fuente*/
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  padding: 0;
  margin: 0;
}

/*
1. pocicionamiento
2. modelo de caja
3.tipografia
4.visuales
5.misalaneos o otros.
*/
.contenedor {
  /*tamaño y color de fondo y pocicionamiento de card*/
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*background-color: var(--Very_dark_blue_main_background);*/
  background-color: cornsilk;
  /*card_edition_style*/
}
.contenedor .contenedor__card {
  width: 253px;
  height: 597px;
  border-radius: 10px;
  /*repocionamiento de los elementos*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: honeydew;
  /*background-color: var(--Dark_desaturated_blue_card_background);*/
}
.contenedor .contenedor__card .card__contenido {
  width: auto;
  height: auto;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
.contenedor .contenedor__card .card__contenido .card__principal {
  /*textos, color y fuente*/
}
.contenedor .contenedor__card .card__contenido .card__principal h1 {
  margin-top: 40px;
  font-size: 2.2rem;
  font-weight: 700;
  text-align: left;
  font-family: var(--fuente_titulos);
  color: var(--White_main_heading_stats);
}
.contenedor .contenedor__card .card__contenido .card__principal h1 span {
  color: var(--Soft_violet_accent);
}
.contenedor .contenedor__card .card__contenido .card__principal p {
  text-align: left;
  font-weight: 400;
  font-size: 1rem;
  font-family: var(--fuente_parrafos);
  color: var(--Slightly_transparent_white_main_paragraph);
}
.contenedor .contenedor__card .card__contenido .card__secundaria {
  /*textos, fuente y color*/
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-top: 50px;
}
.contenedor .contenedor__card .card__contenido .card__secundaria .cajas {
  left: auto;
  margin-right: 38px;
}
.contenedor .contenedor__card .card__contenido .card__secundaria .cajas h2 {
  font-size: 1.6rem;
  font-weight: 700;
  text-align: left;
  margin: 0;
  font-family: var(--fuente_titulos);
  color: var(--White_main_heading_stats);
}
.contenedor .contenedor__card .card__contenido .card__secundaria .cajas p {
  text-align: left;
  font-weight: 400;
  font-size: 0.8rem;
  margin-bottom: 0;
  margin-top: 0.5rem;
  font-family: var(--fuente_parrafos);
  color: var(--Slightly_transparent_white_stat_headings);
}
.contenedor .contenedor__card .card__img {
  width: 480px;
  height: 281px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  border-radius: 0 10px 10px 0;
  background: url(../components/images/image-header-desktop.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}
.contenedor .contenedor__card .card__img .img__color {
  background-color: rgba(94, 0, 153, 0.585);
  border-radius: 0 10px 10px 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/*
.container {
    /*tamaño de caja y color
    width: 698px;
    height: 281px;
    border-radius: 10px;
    display: inline-flex;
    flex-direction: row;
    &__info {
        /*tamaño de seccion textos
        width: 359px;
        height: 281px;
        padding-left: 45px;
        padding-right: 60px;


*/
.attribution {
  /*autor y reto enlace*/
  font-size: 0.5rem;
  text-align: center;
  font-weight: 400;
  margin-top: 1rem;
  font-family: var(--fuente_parrafos);
  color: var(--White_main_heading_stats);
}
.attribution a {
  color: #3e52a3;
  text-decoration: none;
  -webkit-text-decoration-style: none;
          text-decoration-style: none;
  font-size: 0.6rem;
  font-weight: 400;
  font-family: var(--fuente_parrafos);
}