/*
1. pocicionamiento
2. modelo de caja
3.tipografia
4.visuales
5.misalaneos o otros.
*/

@use './general.scss';
.contenedor {
    /*tamaño y color de fondo y pocicionamiento de card*/
    width: 100%;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // flex-direction: column;
    background-color: var(--Very_dark_blue_main_background);
    /*card_edition_style*/
    .contenedor__card {
        width: 243px;
        height: 594px;
        border-radius: 12px;
        /*repocionamiento de los elementos*/
        display: flex;
        flex-direction: column-reverse;
        background-color: var(--Dark_desaturated_blue_card_background);
        overflow: visible;
        .card__contenido {
            margin-top: 31px;
            .card__principal {
                /*textos, color y fuente*/
                h1 {
                    font-size: 2rem;
                    font-weight: 700;
                    text-align: center;
                    margin-left: 28px;
                    margin-right: 28px;
                    font-family: var(--fuente_titulos);
                    color: var(--White_main_heading_stats);
                    span {
                        color: var(--Soft_violet_accent);
                    }
                }
                p {
                    text-align: center;
                    font-size: 1rem;
                    line-height: 1.9;
                    margin-top: 21px;
                    padding-left: 26px;
                    padding-right: 26px;
                    font-family: var(--fuente_parrafos);
                    color: var(--Slightly_transparent_white_main_paragraph);
                }
            }
            .card__secundaria {
                /*textos, fuente y color*/
                display: flex;
                flex-direction: column;
                margin-top: 34px;
                .cajas {
                    h2 {
                        font-size: 1.6rem;
                        font-weight: 700;
                        text-align: center;
                        font-family: var(--fuente_titulos);
                        color: var(--White_main_heading_stats);
                    }
                    p {
                        text-align: center;
                        font-size: 0.9rem;
                        margin-top: 10px;
                        margin-bottom: 27px;
                        font-family: var(--fuente_parrafos);
                        color: var(--Slightly_transparent_white_stat_headings);
                    }
                }
            }
        }
        .card__img {
            width: inherit;
            height: 178px;
            border-radius: 12px 12px 0 0;
            background: url(../components/images/image-header-mobile.jpg);
            background-repeat: no-repeat;
            background-size: contain;
            .img__color {
                background-color: hsla(277, 100%, 30%, 0.585);
                border-radius: 12px 12px 0 0;
                width: inherit;
                height: inherit;
            }
        }
    }
}

.attribution {
    /*autor y reto enlace*/
    font-size: 1.5rem;
    text-align: center;
    font-weight: 400;
    margin-top: 1rem;
    font-family: var(--fuente_parrafos);
    color: var(--White_main_heading_stats);
    a {
        color: hsl(228, 45%, 44%);
        text-decoration: none;
        text-decoration-style: none;
        font-size: 1.5rem;
        font-weight: 400;
        font-family: var(--fuente_parrafos);
    }
}