doctype html
html(lang='es')
    include ./components_pug/head.pug
    body
        div.container
            section.container__info
                div.container__info--titulos
                    h1
                        | Get
                        |   
                        span insights 
                        | 
                        | that help your business grow.
                    p Discover the benefits of data analytics and make better decisions regarding revenue, customer experience, and overall efficiency    
                div.container__info--sub
                    div
                        h2 10k+
                        p COMPANIES
                    div
                        h2 314
                        p TEMPLATES
                    div
                        h2 12M+
                        p QUERIES
            section.container__img
                image
                    span