doctype html
html(lang='es')
    include ./components_pug/head.pug
    body
        main.contenedor
            section.contenedor__card
                div.card__contenido
                    div.card__principal
                        h1
                            | Get
                            |
                            span insights 
                            |
                            | that help your business grow.
                        p Discover the benefits of data analytics and make better decisions regarding revenue, customer experience, and overall efficiency    
                    div.card__secundaria
                        div.cajas
                            h2 10k+
                            p COMPANIES
                        div.cajas
                            h2 314
                            p TEMPLATES
                        div.cajas
                            h2 12M+
                            p QUERIES
                div.card__img
                    div.img__color
            section.attribution
                | challenge by 
                a(href="https://www.frontendmentor.io?ref=challenge" target="_blank") Frontend Mentor
                | .
                |
                |
                | Coded by
                |
                a(href="https://github.com/duquerson") Yeferson  Soto.