doctype html
html(lang='es')
    include ./components_pug/head.pug
    body
        div.container
            section.container__info
                div.container__info--titulos
                div.container__info--sub
            section.container__img
                image
                    span